* {
	box-sizing: border-box; }
html, body {
	margin: 0;
	padding: 0; }
body {
	background-color: #d1c380;
background-image: url("https://www.transparenttextures.com/patterns/batthern.png"); }
html { 
	font-family: "helvetica neue", sans-serif; }

.navContainer {
	display: flex;
	display: -webkit-box;
  	display: -ms-flexbox;
    display: -webkit-flex;
	justify-content: space-between; 
	background: blue;
	position: relative;
	height: 4rem;  }

.navContainer a, .navContainer a:visited, .navContainer a:active, .navContainer i {
	color: #ccc; }

.navContainer .link:hover, .fa:hover {
	color: #fff;	}
.menuMain {
	display: none; }
.menu-mobile {
	display: flex;
	display: -webkit-box;
  	display: -ms-flexbox;
    display: -webkit-flex;
	align-items: center;
	background: blue;
	opacity: 0.7;
	font-size: 3rem;
	width: 100vw;
	height: 100vh;
	flex-direction: column; }
.menu-mobile .link {
	margin: auto;
	color: #ccc; 
	text-decoration: none; 
	text-transform: uppercase;   }

.toggle-x { 
	cursor: pointer;
	position: absolute;
	font-size: 3rem;
	top: 0.3rem;
	left: 0.9rem;
	z-index: 98; }
.top {
	position: absolute;	
	font-size: 3rem;
	top: 0.3rem;
	left: 0.9rem;
	z-index: 99; }
.social {
	display: none; } 
.navContainerHide {
	height: 0;
}


@media screen and (min-width: 968px) {
	.toggle-x {
		display: none; } 
	.menuMain {
		display: flex;
		display: -webkit-box;
  		display: -ms-flexbox;
    	display: -webkit-flex;
		align-items: center;
		flex: 1; 
		justify-content: space-around; }
	.menuMain .link  {
		font-size: 0.8rem;
		text-decoration: none; }
	.social {
		display: flex;
		display: -webkit-box;
	  	display: -ms-flexbox;
	    display: -webkit-flex;
		align-items: center;  }
	.hide {
		display: none; 	}
	.social .link {
		margin: 0 0.5rem;	}
	.top {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem; }

}


